{"filter":false,"title":"001_envar.config","tooltip":"/app2/.ebextensions/001_envar.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1640621543987,"hash":"0ff9472810c1bccc72a696e456f0e48e2a4ee1d1"}