{"filter":false,"title":".gitignore","tooltip":"/app2/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":0},"end":{"row":4,"column":31},"action":"remove","lines":["# Elastic Beanstalk Files",".elasticbeanstalk/*","!.elasticbeanstalk/*.cfg.yml","!.elasticbeanstalk/*.global.yml"],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":7,"column":0},"action":"insert","lines":["","# Elastic Beanstalk Files",".elasticbeanstalk/*","!.elasticbeanstalk/*.cfg.yml","!.elasticbeanstalk/*.global.yml",""],"id":3,"ignore":true}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":0},"end":{"row":1,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1640629115602,"hash":"567cf0090355b9ad6bf9b13cf6a209040a1c2837"}